---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 Not found"
  keywords="not found 404"
  description="This page no longer exists."
>
  <main class="container">
    <h1>This page is no longer with <us class=""></us></h1>
  </main>
</Layout>
