// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions"

// 2. Include any default variable overrides here
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;700&display=swap')
$primary: #FFE710
$white: #FFF
$black: #000
$font-family-sans-serif: 'Mohave', sans-serif
$navbar-brand-height: 3rem
$navbar-padding-y: 20px
$navbar-dark-color: $white
$navbar-dark-hover-color: $primary
$nav-link-padding-y: 0
$font-size-base: 1.4rem
$line-height-base: 1.55
// $h2-font-size:                $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.2 !default
$h4-font-size: $font-size-base * 1.1 !default
$h5-font-size: $font-size-base * 1.05 !default
$h6-font-size: $font-size-base !default
$font-weight-normal: 300

$pagination-color: $black
$pagination-border-width: 0
$pagination-active-color: $black
$pagination-hover-color: $black
$pagination-hover-bg: $primary

$paragraph-margin-bottom: 1.5rem
$headings-margin-bottom: 1.5rem

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables"
@import "../../../node_modules/bootstrap/scss/mixins"
@import "../../../node_modules/bootstrap/scss/root"

// 4. Include any optional Bootstrap CSS as needed
@import "../../../node_modules/bootstrap/scss/utilities"
@import "../../../node_modules/bootstrap/scss/reboot"
@import "../../../node_modules/bootstrap/scss/type"
@import "../../../node_modules/bootstrap/scss/images"
@import "../../../node_modules/bootstrap/scss/containers"
@import "../../../node_modules/bootstrap/scss/grid"
@import "../../../node_modules/bootstrap/scss/buttons"
@import "../../../node_modules/bootstrap/scss/transitions"
@import "../../../node_modules/bootstrap/scss/nav"
@import "../../../node_modules/bootstrap/scss/navbar"
@import "../../../node_modules/bootstrap/scss/pagination"
@import "../../../node_modules/bootstrap/scss/helpers"


// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api"

// 6. Add additional custom code here

// Layout
nav.navbar
  .navbar-nav
    .nav-item
      text-transform: uppercase
      font-size: 1.5rem

      @include media-breakpoint-up(lg)
        line-height: 1.5rem

      &:first-child
        margin-top: 1.5rem
        @include media-breakpoint-up(lg)
          margin-top: 0


      &:not(:first-child)
        a
          @include media-breakpoint-up(lg)
            border-left: 3px solid $primary

html, body
  height: 100%

footer
  position: sticky
  top: 100vh
  padding-bottom: 0.5rem
  font-size: 0.9rem

// Blog overview
.blog-post-preview
  margin-bottom: 4rem

  a
    text-decoration: none
    color: $black

    h2
      font-size: 1.8rem
      line-height: 1.8rem
      margin-bottom: 1.2rem
      font-weight: 700
      transition: color 0.2s ease

      &:hover
        color: $primary

  .meta
    padding-top: 3rem
    padding-right: 3rem
    text-align: right

    h3, time, h4, ul li, ul li a
      font-size: 1.4rem
      line-height: 1.4

    h3
      font-weight: bold
      margin: 0

    time
      text-transform: capitalize

    h4
      margin-top: 3rem
      margin-bottom: 0
      font-weight: bold

    ul
      margin-bottom: 0.5rem

      li
        a
          text-transform: capitalize
          transition: color 0.2s ease

          &:hover
            color: $primary
            background-color: $black
            padding: 0 2px

  article
    p
      margin-bottom: 0


.tag-header
  background-color: $white

// Blog post
header
  position: relative
  background-position: 50%
  background-repeat: no-repeat
  background-size: cover
  background-color: $primary
  background-blend-mode: darken

  .inner
    position: absolute
    height: 100%
    width: 100%
    background-color: transparentize($dark, 0.33)

  .content
    z-index: 2
    position: relative
    color: white

    .meta
      color: $primary
      text-align: right
      max-width: 149px
      padding-top: 3rem
      padding-bottom: 3rem
      text-transform: capitalize

      strong, time, ul li, ul li a
        font-size: 1.2rem
        line-height: 1.4rem
        padding: 0
        margin: 0

      ul
        margin: 0

      strong
        font-weight: 700
        display: block
        margin: 0

      ul li a
        color: $primary
        text-decoration: none

    h1
      font-weight: 700
      margin: 0
      font-size: 3rem
      line-height: 3.2rem

    .share
      color: white
      text-decoration: none

      &:hover
        color: $primary

      img
        height: 1.5rem
        margin-left: 0.5rem

// General
h2, h3, h4, h5, strong
  font-weight: 700

a
  color: $black
  text-decoration-color: $primary

blockquote
  background-color: $primary
  padding: 2rem
  margin-bottom: 1.5rem

  p
    margin: 0
    padding: 0
    font-style: italic

code.language-text
  color: $primary

.page .cover .content
  padding: 3.75rem 0

.gatsby-resp-iframe-wrapper, .gatsby-highlight
  margin-bottom: 1.5rem